<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Conver FLask API</title>
</head>
<body class="bg-black flex items-center justify-center h-screen">
    <div class="container text-center">
        <h1 class="text-4xl font-bold neon">API Ready for Use!</h1>
        <p class="text-lg text-purple-400 mt-4">Flask API for document conversion </p>
    </div>
</body>
</html>
